@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);
    left: 0;
    right: 0;
    transition: all 0.3s linear, box-shadow 0s linear, -webkit-box-shadow 0s linear;
}

.topHeader {
    position: absolute;
    top: 0;
}

.fixedHeader {
    position: fixed;
    top: -83px;
    left: 0;
    right: 0;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    background-color: #ffffffe6;
    z-index: 999;
    transform: translateY(83px);
    transition: transform 0.7s ease;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
}
.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}

.containerMenu {
    @include flex_box_custom(center, center, 40px);
}

.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

.menu::after {
    content: '';
    display: block;
    height: 3px;
    background-color: $primary_color;
    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms, opacity 500ms;
    margin-top: 8px;
}
.menu:hover::after {
    // transform-origin: right;
    opacity: 1;
    transform: scale(1);
}
